<nav class="navbar">
    <a href="/" class="logo"><img src="images/icon.ico" style="max-height: 40px">QuickQuizzer</a>
    <% if (userID) { %>
        <div class="user-profile">
            <div class="profile-toggle">
                <span><%= username %></span>
                <img src="<%= profilePicture || '/images/profile.png' %>" alt="Profile Picture"/>
                <span class="dropdown-arrow">▼</span>
            </div>
            <div class="dropdown-menu">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    <% } else { %>
        <a href="/login" class="login-button">Login</a>
    <% } %>
</nav>

<script src="./js/navbar.js"></script>